body {
  background-image: linear-gradient(to bottom right, rgb(232, 215, 215), rgb(228, 228, 174));
}

h1 {
  font-family: Edu VIC WA NT Beginner;
  font-size: 60px;
  text-align: center; 
  background-color: gold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  max-width: 300px;
  border: 5px solid rgb(241, 232, 190);
}

.single-book {
  background: rgb(188, 157, 136);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 4px solid white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  width: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 5px;
}